{% extends 'base.html.twig' %}
   {% block body %}
      <h1>Hello!</h1>
        <p>cliquer sur le bouton chat.</p>
        <script>
            var botmanWidget = {
            frameEndpoint: '{{ path("chat") }}',
            chatServer: '{{ path("home") }}',
            introMessage: 'salut, je suis PureIQ. votre assistant personnel',
            title: 'mon assistant', 
            mainColor: '#456765',
            bubbleBackground: '#ff76f4',
            aboutText: ''
        };
</script>
<script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>  
    {% endblock %}
